.blog-card-summary {
    line-height: 150%;
    /* padding: 12px 16px; */
    /* color: #495057; */
}

/* .blog-card-meta {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} */
