#body {
    margin-top: 0;
}

#header.collapsed {
    background-color: transparent;
    position: static;
    border-bottom: none;
}

.collapsed #logo {
    display: none;
}

.collapsed #logo-white {
    display: block;
}

.collapsed .nav-item-anchor,
.collapsed .nav-item-anchor:hover,
.collapsed .nav-item-anchor.active {
    color: white;
}

.collapsed .nav-item-anchor:after {
    border-bottom: 2px solid #fff;
}

#hero {
    width: 100%;
}

/* #hero,
.research {
    width: 100%;
    line-height: 1.8;
} */

#hero {
    background-image: url('/static/images/hero-background.jpg');
    text-align: center;
}

.welcome {
    padding:60px 0px 5%;
}

.welcome.with-fixed-header {
    margin-top: 80px;
}

.welcome-message {
    font-size: 2em;
}

.lab-name {
    margin: 0;
    color: white;
    font-weight: bold;
}

.research {
    width: 100%;
    display: flex;

    padding: 5% 0;
    justify-content: center;

    background-color: white;
}

.research-fields {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.research-field {
    width: 14%;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 3% 0 3% ;
}

.research-field-icon {
    width: 110%;

}

.research-field-label {
    color:#004e66;
    text-align: center;
    line-height: 1.4;
    white-space: pre-line;
    font-size: 1.1em;
    font-weight:bold;
}

@media (max-width: 768px) {
    .research-field {
        width: 50%;
    }

    .research-field-label {
        font-size: 1em;
    }
}

.news {
    width: 100%;
    background-color: #fffcf0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 40px 0;
    color:#004e66;
}

.news-header {
    font-size: 1em;

    margin-top: 0;
    margin-bottom: 24px;
}

.recent-posts {
    width: 48%;
    max-width: 1000px;

    margin: 0 1% 0 1%;

    float: left;
    display: inline-block;
    flex-wrap: wrap;
}

.blog-card {
    display: block;

    width: 90%;
    margin: 0 5% 3em 5%;

    background-color: white;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .blog-card {
        width: 100%;
        margin: 0 0 3em;
    }
}

.blog-card-title {
    padding: 12px 16px;
    text-align: center;
    color: white;
    font-weight: bold;

    background-color: #e1eef6;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.blog-card-meta,
.blog-card-summary {
    padding: 12px 16px;
    color: #495057;
}

.blog-card-meta {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
